#page_title {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

#img {
	clear: both;
	float: left;
	margin-left: 10%;
	text-align: right;
}
#list {
	float: left;
	margin-left: 10px;
	padding: 15px;
	text-align: left;
	font-size: 120%;
}

#big {
	clear: both;
	float: center;
	text-align: center;
}

#big2 {
	margin-left: 2%;
	clear: both;
	float: center;
	text-align: center;
}

#movie {
	float: left;
	text-align: center;
	font-size: 120%;
	margin: 20px 10px;
}

#photo {
	
	margin: 20px;
}

#box {
	float: left;
	margin: 10px 5px;
	width: 250px;
	height: 225px;
}
#box_img {
}

#box_m :hover{
	opacity: 0.6;
}

#T_img {
	float: left;
	width: 400px;
	text-align: center;
}

#color_size {
}

